.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.form-container .box{
    background-color: var(--main-white);
    border: 1px solid var(--dark-orange);
    width: 350px;
    height: 540px;
    padding: 20px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 760px) {
      width: 100vw;
      height: 100vh;
    }
}

.form-container h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    font-weight: 350;
}

.form-container form{
    margin: 25px 0 28px;
    text-align: center;
}

.login-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.login-buttons {
  padding: 0.5rem 2rem;
  font-size: 18px;
  cursor: pointer;
}

.login-btn {
  border: 2px solid var(--dark-orange);
  display: inline-block;
  background: var(--dark-orange);
  color: var(--main-white);
  transform: skew(-21deg);
}

.cancel-btn {
  border: none;
  background: transparent;
  color: var(--dark-orange);
}

.login-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: var(--main-white);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.login-btn:hover {
  color: var(--dark-orange);
}

.login-btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.login-input{
  height: 50px;
  width: 250px;
  background-color: var(--main-white);
  border-radius: 4px;
  border: 1px solid var(--dark-orange);
  text-align: center;
  padding: 0;
  font-weight: 300;
}

.input-link , a{
  color: black;
  text-align: right;
}

.registro-link{
  color: black;
  text-align: right;
}