.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.form-container .box{
    background-color: whitesmoke;
    border: 1px solid orangered;
    width: 320px;
    height: 420px;
    padding: 20px 10px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h3{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    font-weight: 350;
}

.form-container form{
    margin: 25px 0 28px;
}

.email-box{
    margin-bottom: 25px;
}

.login-btn {
    border: 2px solid orangered;
    padding: 1em 5.0em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    color: orangered;
    font-family: inherit;
    font-weight: 500;
    margin-top: 4rem;   
}
  
input{
  height: 50px;
  width: 250px;
  background-color: whitesmoke;
  border-radius: 4px;
  border: 1px solid orangered;
  text-align: center;
  padding: 0;
  font-weight: 300;
}

.input-link , a{
  color: black;
  text-align: right;
}

.registro-link{
  color: black;
  text-align: right;
}