:root {
  --main-white: #fdfdfd;
  --dark-gray: #4b4b4b;
  --aqua-green: #a9d9ca;
  --beige: #c3ada5;
  --strong-yellow: #edc677;
  --aqua-blue: #7ab8b8;
  --dark-orange: #de693e;
  --mid-blue: #6aaebf;
  --light-gray: #cddce0;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url(../../assets/fonts/sofiapro-light.otf) format("opentype");
}

* {
  font-family: 'Sofia Pro';
}

body {
  width: 100%;
  background-color: var(--aqua-blue) !important;
}

header {
  padding: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#navbarNav {
  justify-content: right;
}

.navbar {
  padding: 12px 30px 0px 15px !important;
}

.navbar-dark {
  color: var(--main-white);
}

.navbar-nav {
  margin-top: 19px;
  font-weight: 700;
}

.nav-item {
  margin-right: 80px;
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.89px;
}

.nav-item:nth-last-child(1) {
  margin-right: 0px;
}

.nav-item svg {
  margin-left: 6px;
  cursor: pointer;
}

.nav-item svg path {
  fill: var(--main-white);
}

.nav-link {
  padding: 0px 0px 4px 0px !important;
  color: var(--main-white) !important;
}

.nav-link a {
  color: var(--main-white);
}

.nav-link:after {
  display: block;
  content: "";
  margin-top: 6px;
  border-bottom: solid 2px var(--main-white);
  transform: scaleX(0);
}

.nav-link:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  color: var(--main-white);
}

.nav-link a:hover {
  color: var(--main-white);
  text-decoration: none;
}

.show ul {
  margin: 0 auto;
  align-items: center;
  height: 90vh;
  justify-content: center;
}

.show ul>li {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
}

.show ul>li:nth-child(3):after {
  display: block;
  content: "";
  margin: 20px 0px 20px 0px;
  border-bottom: solid 3px var(--main-white);
}

.navbar-toggler-icon-close {
  display: none;
  font-size: 30px;
  font-weight: lighter;
  padding: 0px 6.5px 0px 6.5px;
}

:root:has(.show)>body header nav button span:nth-child(1) {
  display: none;
}

:root:has(.show)>body header nav button span:nth-child(2) {
  display: block;
}

:root:has(.show)>body {
  background-color: var(--dark-orange) !important;
  transition: background-color 0.3s ease-in;
}


.main {
  position: absolute;
  top: 100px;
  width: 100%;
  flex: 1;
}

.main .sections {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;
}

.sections .section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px 18px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/imgs/hero02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero .scrolldown {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 30px;
  width: 100%;
  margin: auto;
}

.sub-hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sub-hero .sub-hero-container {
  width: 60%;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 500px;
}

.sub-hero .sub-hero-container>img {
  display: block;
}

.sub-hero .sub-hero-container>h2 {
  font-weight: 800;
  font-size: 2.6rem;
}

.btn-sub-hero {
  color: var(--main-white);
  padding: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all 1s;
}

.btn-sub-hero-icon--eye {
  transition: all 1s;
}

.btn-sub-hero:hover>.btn-sub-hero-icon--eye {
  transition: all 1s;
  mix-blend-mode: difference;
}


#funciones {
  height: 400px;
  width: 100%;
  background-color: var(--dark-orange);
}

#productos {
  width: 100%;
  background-color: var(--mid-blue);
  height: 400px;
}

footer{
  background-color: var(--light-gray);
  justify-content:space-around;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 60px 0px 30px;
}

.container-body{
  text-align: center;
  display: flex;
  flex-direction: column;
}

input {
  height: 60px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid var(--dark-gray);
  text-align: center;
}